@model AppPartes.Logic.UdObraPresuViewLogic
@{
    ViewData["Title"] = "Index";
}

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <!--<div class="inner">-->
            <!-- Header -->
            <header id="header">
                <a href="#" class="logo"><strong>Grupo Aldakin</strong></a>
            </header>
            <!-- Content -->
            <section>
                @{
                    if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <div class="alert alert-warning">@ViewBag.Message</div>
                    }
                }
                <header class="main">
                    <h1>Gestión Unidad de Obra de Presupuesto </h1>
                </header>
                <!-- Content -->
                <!--<h2 id="content">Sample Content</h2>-->

                <div class="col-12">
                    <label for="start">Listado de todas las unidades de obra de los presupuests por entidad</label>
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Descipción</th>
                                    <th>Ref. Ud.Obra Presu</th>
                                    <th>Cod. Ent</th>
                                    <th>Id</th>
                                </tr>
                                @foreach (var l in Model.lUdObra)
                                {
                                    <tr>
                                        <th>
                                            <form asp-action="DeleteLine" asp-controller="UdObraPresu" method="post">
                                                <input type="hidden" name="strId" value="@l.IdudObraPresu" />
                                                <input type="submit" value="Borrar" class="primary" />
                                            </form>
                                        </th>
                                        <th>@l.Descripcion</th>
                                        <th>@l.RefiPes</th>
                                        <th>@l.CodEnt</th>
                                        <th>@l.IdudObraPresu</th>
                                    </tr>
                                }

                            </thead>
                        </table>
                    </div>
                </div>

                <div class="col-12">

                    <form asp-action="InsertLine" asp-controller="UdObraPresu" method="post">
                        <div class="row gtr-uniform">
                            <div class="col-12">
                                <label for="start">Descripción:</label>
                                <input type="text" name="strDescription" required />
                            </div>
                            <div class="col-12">
                                <label for="start">Referencia Presu:</label>
                                <input type="text" name="strRef" required />
                            </div>
                            <div class="col-12">
                                <label for="start">Entidad:</label>
                                <select id="entidad" name="strEntidad" required>
                                    <option value="">
                                    </option>
                                    @foreach (var dept in Model.lEntidad)
                                    {
                                        <option value="@dept.CodEnt">
                                            @dept.Nombre
                                        </option>
                                    }
                                </select>
                            </div>
                            <input type="hidden" name="strAction" value="save" />
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" value="Guardar" class="primary" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <!--</div>-->
        </div>
    </div>

</body>

