@model AppPartes.Logic.SearchEditViewLogic
@{
    ViewData["Title"] = "Index";
}

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">

            <!-- Header -->
            <header id="header">
                <a href="" class="logo"><strong>Seleccione Semana</strong></a>
                <!--
                <ul class="icons">
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
                    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
                </ul>-->
            </header>
            <section>
                @{
                    if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <div class="alert alert-warning">@ViewBag.Message</div>
                    }
                }
                @{
                    if (Model.listSelect != null)
                    {
                        <h3>Editar parte de trabajo</h3>
                        @foreach (var dept in Model.listSelect)
                        {
                            <div class="col-12">
                                <form asp-action="EditLine" asp-controller="SearchEdit" method="POST">
                                    <div class="row gtr-uniform">
                                        <!--<div class="col-6 col-12-xsmall">
        <label for="start">Fecha actual parte:</label>
        <input type="text" name="strCalendarioAnterior" id="demo-name" value="@dept.Inicio.Year-@dept.Inicio.Month-@dept.Inicio.Day" readonly />
    </div>-->
                                        <div class="col-12">
                                            <label for="start">Fecha nueva parte(si procede cambiar):</label>
                                            <input type="date" id="Calendario1" name="strCalendario"
                                                   value="@Model.DateSelected"
                                                   min="@(DateTime.Now.Year - 2)-01-01"
                                                   max="@(DateTime.Now.Year + 2)-12-31">
                                            <!--<input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />-->
                                        </div>
                                        <p>Seleccione la orden de trabajo para su parte de trabajo .</p>
                                        <div class="col-12">
                                            <label for="start">Entidad:</label>
                                            <select id="entidad" name="strEntidad">
                                                <option value="@dept.iEntidad">
                                                    @dept.strEntidad
                                                </option>
                                                @foreach (var e in Model.listCompany)
                                                {
                                                    <option value="@e.CodEnt">
                                                        @e.Nombre
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-12">
                                            <label for="start">Clientes:</label>
                                            <select id="cliente" name="strCliente">
                                                <option value="0"></option>
                                                @foreach (var client in Model.listClient)
                                                {
                                                    <option value="@client.Idclientes">
                                                        @client.Nombre
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-12">
                                            <label for="start">* Ots:</label>
                                            <select id="ot" name="strOt">
                                                <option value="@dept.Idot">
                                                    @dept.NombreOt
                                                </option>
                                                @foreach (var l in Model.listOts)
                                                {
                                                    <option value="@l.Idots">
                                                        @l.Numero || @l.Nombre
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-12">
                                            @if (dept.lpresupuesto != null)
                                            {
                                                <label id="lbPresupuesto" for="start">* Presupuesto:</label>
                                                <select id="presupuesto" name="strPresupuesto">
                                                    <option value="@dept.iPresu">@dept.NombrePresu</option>
                                                    @if (dept.lpresupuesto != null)
                                                    {
                                                        @foreach (var l in dept.lpresupuesto)
                                                        {
                                                            <option value="@l.Idpresupuestos">
                                                                @l.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            }
                                            else
                                            {

                                                <label id="lbPresupuesto" for="start" style="display:none">* Presupuesto:</label>
                                                <select id="presupuesto" name="strPresupuesto" style="display:none">
                                                    <option value="@dept.iPresu">@dept.NombrePresu</option>
                                                    @if (dept.lpresupuesto != null)
                                                    {
                                                        @foreach (var l in dept.lpresupuesto)
                                                        {
                                                            <option value="@l.Idpresupuestos">
                                                                @l.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            }
                                        </div>
                                        <div class="col-12">
                                            @if (dept.iNivel1 == 0)
                                            {
                                                <label id="lbNivel1" for="start" style="display:none">* Nivel1:</label>
                                                <select id="nivel1" name="strNivel1" style="display:none">
                                                    <option value="@dept.iNivel1">@dept.strNivel1</option>
                                                    @if (dept.lNivel1 != null)
                                                    {
                                                        @foreach (var l in dept.lNivel1)
                                                        {
                                                            <option value="@l.Idpreslin">
                                                                @l.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            }
                                            else
                                            {

                                                <label id="lbNivel1" for="start">* Nivel1:</label>
                                                <select id="nivel1" name="strNivel1">
                                                    <option value="@dept.iNivel1">@dept.strNivel1</option>
                                                    @if (dept.lNivel1 != null)
                                                    {
                                                        @foreach (var l in dept.lNivel1)
                                                        {
                                                            <option value="@l.Idpreslin">
                                                                @l.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            }
                                        </div>
                                        <div class="col-12">
                                            @if (dept.iNivel2 == 0)
                                            {
                                                <label id="lbNivel2" for="start" style="display:none">* Nivel2:</label>
                                                <select id="nivel2" name="strNivel2" style="display:none">
                                                    <option value="@dept.iNivel2">@dept.strNivel2</option>
                                                    @if (dept.lNivel2 != null)
                                                    {
                                                        @foreach (var l in dept.lNivel2)
                                                        {
                                                            <option value="@l.Idpreslin">
                                                                @l.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            }
                                            else
                                            {

                                                <label id="lbNivel2" for="start">* Nivel2:</label>
                                                <select id="nivel2" name="strNivel2">
                                                    <option value="@dept.iNivel2">@dept.strNivel2</option>
                                                    @if (dept.lNivel2 != null)
                                                    {
                                                        @foreach (var l in dept.lNivel2)
                                                        {
                                                            <option value="@l.Idpreslin">
                                                                @l.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            }
                                        </div>
                                        <div class="col-12">
                                            @if (dept.iNivel3 == 0)
                                            {
                                                <label id="lbNivel3" for="start" style="display:none">* Nivel3:</label>
                                                <select id="nivel3" name="strNivel3" style="display:none">
                                                    <option value="@dept.iNivel3">@dept.strNivel3</option>
                                                    @if (dept.lNivel3 != null)
                                                    {
                                                        @foreach (var l in dept.lNivel3)
                                                        {
                                                            <option value="@l.Idpreslin">
                                                                @l.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            }
                                            else
                                            {

                                                <label id="lbNivel3" for="start">* Nivel3:</label>
                                                <select id="nivel3" name="strNivel3">
                                                    <option value="@dept.iNivel3">@dept.strNivel3</option>
                                                    @if (dept.lNivel3 != null)
                                                    {
                                                        @foreach (var l in dept.lNivel3)
                                                        {
                                                            <option value="@l.Idpreslin">
                                                                @l.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            }
                                        </div>
                                        <div class="col-12">
                                            @if (dept.iNivel4 == 0)
                                            {
                                                <label id="lbNivel4" for="start" style="display:none">* Nivel4:</label>
                                                <select id="nivel4" name="strNivel4" style="display:none">
                                                    <option value="@dept.iNivel4">@dept.strNivel4</option>
                                                    @if (dept.lNivel4 != null)
                                                    {
                                                        @foreach (var l in dept.lNivel4)
                                                        {
                                                            <option value="@l.Idpreslin">
                                                                @l.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            }
                                            else
                                            {

                                                <label id="lbNivel4" for="start">* Nivel4:</label>
                                                <select id="nivel4" name="strNivel4">
                                                    <option value="@dept.iNivel4">@dept.strNivel4</option>
                                                    @if (dept.lNivel4 != null)
                                                    {
                                                        @foreach (var l in dept.lNivel4)
                                                        {
                                                            <option value="@l.Idpreslin">
                                                                @l.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            }
                                        </div>
                                        <div class="col-12">
                                            @if (dept.iNivel5 == 0)
                                            {
                                                <label id="lbNivel5" for="start" style="display:none">* Nivel5:</label>
                                                <select id="nivel5" name="strNivel5" style="display:none">
                                                    <option value="@dept.iNivel5">@dept.strNivel5</option>
                                                    @if (dept.lNivel5 != null)
                                                    {
                                                        @foreach (var l in dept.lNivel5)
                                                        {
                                                            <option value="@l.Idpreslin">
                                                                @l.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            }
                                            else
                                            {

                                                <label id="lbNivel5" for="start">* Nivel5:</label>
                                                <select id="nivel5" name="strNivel5">
                                                    <option value="@dept.iNivel5">@dept.strNivel5</option>
                                                    @if (dept.lNivel5 != null)
                                                    {
                                                        @foreach (var l in dept.lNivel5)
                                                        {
                                                            <option value="@l.Idpreslin">
                                                                @l.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            }
                                        </div>
                                        <div class="col-12">
                                            @if (dept.iNivel6 == 0)
                                            {
                                                <label id="lbNivel6" for="start" style="display:none">* Nivel6:</label>
                                                <select id="nivel6" name="strNivel6" style="display:none">
                                                    <option value="@dept.iNivel6">@dept.strNivel6</option>
                                                    @if (dept.lNivel6 != null)
                                                    {
                                                        @foreach (var l in dept.lNivel6)
                                                        {
                                                            <option value="@l.Idpreslin">
                                                                @l.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            }
                                            else
                                            {

                                                <label id="lbNivel6" for="start">* Nivel6:</label>
                                                <select id="nivel6" name="strNivel6">
                                                    <option value="@dept.iNivel6">@dept.strNivel6</option>
                                                    @if (dept.lNivel6 != null)
                                                    {
                                                        @foreach (var l in dept.lNivel6)
                                                        {
                                                            <option value="@l.Idpreslin">
                                                                @l.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            }
                                        </div>
                                        <div class="col-12">
                                            @if (dept.iNivel7 == 0)
                                            {
                                                <label id="lbNivel7" for="start" style="display:none">* Nivel7:</label>
                                                <select id="nivel7" name="strNivel7" style="display:none">
                                                    <option value="@dept.iNivel7">@dept.strNivel7</option>
                                                    @if (dept.lNivel7 != null)
                                                    {
                                                        @foreach (var l in dept.lNivel7)
                                                        {
                                                            <option value="@l.Idpreslin">
                                                                @l.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            }
                                            else
                                            {

                                                <label id="lbNivel7" for="start">* Nivel7:</label>
                                                <select id="nivel7" name="strNivel7">
                                                    <option value="@dept.iNivel7">@dept.strNivel7</option>
                                                    @if (dept.lNivel7 != null)
                                                    {
                                                        @foreach (var l in dept.lNivel7)
                                                        {
                                                            <option value="@l.Idpreslin">
                                                                @l.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            }
                                        </div>
                                        <div class="col-12">
                                            <hr class="major" />
                                        </div>

                                        <div class="col-12">
                                            <label for="start">Hora Inicio:</label>
                                            <table class="egt">
                                                <tr>
                                                    <td>
                                                        <select id="strHoraInicio" name="strHoraInicio">
                                                            <option value="@dept.Inicio.Hour" selected>@dept.Inicio.Hour</option>
                                                            <option value="00">00</option>
                                                            <option value="01">01</option>
                                                            <option value="02">02</option>
                                                            <option value="03">03</option>
                                                            <option value="04">04</option>
                                                            <option value="05">05</option>
                                                            <option value="06">06</option>
                                                            <option value="07">07</option>
                                                            <option value="08">08</option>
                                                            <option value="09">09</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                            <option value="13">13</option>
                                                            <option value="14">14</option>
                                                            <option value="15">15</option>
                                                            <option value="16">16</option>
                                                            <option value="17">17</option>
                                                            <option value="18">18</option>
                                                            <option value="19">19</option>
                                                            <option value="20">20</option>
                                                            <option value="21">21</option>
                                                            <option value="22">22</option>
                                                            <option value="23">23</option>
                                                        </select>
                                                    </td>
                                                    <td>:</td>
                                                    <td>
                                                        <select id="strMinutoInicio" name="strMinutoInicio">
                                                            <option value="@dept.Inicio.Minute" selected>@dept.Inicio.Minute</option>
                                                            <option value="00">00</option>
                                                            <option value="15">15</option>
                                                            <option value="30">30</option>
                                                            <option value="45">45</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>

                                            <!--<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />-->
                                        </div>
                                        <div class="col-12">

                                            <label for="start">Hora Fin:</label>
                                            <table class="egt">
                                                <tr>
                                                    <td>
                                                        <select id="strHoraFin" name="strHoraFin">
                                                            <option value="@dept.Fin.Hour" selected>@dept.Fin.Hour</option>
                                                            <option value="00">00</option>
                                                            <option value="01">01</option>
                                                            <option value="02">02</option>
                                                            <option value="03">03</option>
                                                            <option value="04">04</option>
                                                            <option value="05">05</option>
                                                            <option value="06">06</option>
                                                            <option value="07">07</option>
                                                            <option value="08">08</option>
                                                            <option value="09">09</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                            <option value="13">13</option>
                                                            <option value="14">14</option>
                                                            <option value="15">15</option>
                                                            <option value="16">16</option>
                                                            <option value="17">17</option>
                                                            <option value="18">18</option>
                                                            <option value="19">19</option>
                                                            <option value="20">20</option>
                                                            <option value="21">21</option>
                                                            <option value="22">22</option>
                                                            <option value="23">23</option>
                                                        </select>
                                                    </td>
                                                    <td>:</td>
                                                    <td>
                                                        <select id="strMinutoFin" name="strMinutoFin">
                                                            <option value="@dept.Fin.Minute" selected>@dept.Fin.Minute</option>
                                                            <option value="00">00</option>
                                                            <option value="15">15</option>
                                                            <option value="30">30</option>
                                                            <option value="45">45</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>

                                            <!--<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />-->
                                        </div>
                                        <!-- Break -->
                                        <div class="col-6 col-12-small">
                                            @if (dept.Horasviaje > 0)
                                            {
                                                <input type="checkbox" id="viaje" value="true" name="bHorasViaje" checked="checked"> <label for="viaje">Viaje</label>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="viaje" value="true" name="bHorasViaje"> <label for="viaje">Viaje</label>
                                            }
                                        </div>
                                        <div class="col-6 col-12-small">
                                            <label for="start">NºParte:</label>
                                            <input type="text" name="strParte" value="@dept.Npartefirmado" />
                                        </div>
                                        <div class="col-6 col-12-small">
                                            @{
                                                if ((dept.Horas == 0) && (dept.Horasviaje == 0))
                                                {
                                                    <input type="checkbox" id="gastos" value="true" name="bGastos" checked="checked"> <label for="gastos">Solo gastos</label>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" id="gastos" value="true" name="bGastos"> <label for="gastos">Solo gastos</label>
                                                }
                                            }
                                        </div>
                                        <div class="col-6 col-12-small">
                                            <label for="vehicle1">Pernoctación</label>
                                            <select name="strPernoctacion" required>
                                                <option value="0">NO</option>
                                                @foreach (var client in Model.listPernocta)
                                                {
                                                    if (@client.Tipo == @dept.Facturable)
                                                    {
                                                        <option value="@client.Tipo" selected> @client.Descripcion </option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@client.Tipo"> @client.Descripcion </option>
                                                    }
                                                }
                                                <!--<option value="NACIONAL">NACIONAL</option>
            <option value="INTERNACIONAL">INTERNACIONAL</option>-->
                                            </select>
                                        </div>
                                        <div class="col-12">
                                            <textarea name="strObservaciones" id="txtObservaciones" placeholder="Enter your message" value="@dept.Observaciones" rows="6" required>@dept.Observaciones</textarea>
                                        </div>
                                        <div class="col-12">
                                            <span class="button" onclick="viewLblGastos();" style="display: inline-block">Mostrar Gastos</span>
                                            <hr class="major" />
                                            <div class="col-12" id="lblGastos" name="lblGastos" style="display:none">
                                                <input type="hidden" id="idGasto" name="idGasto" value="@dept.ContGastos" readonly />

                                                <label for="start">Cantidad:</label>
                                                <input type="text" id="strCantidad" name="strCantidad" value="0" />
                                                <label for="start">Pagador:</label>
                                                <select id="Pagador" name="Pagador">
                                                    <option value="0"></option>
                                                    <option value="TRABAJADOR">TRABAJADOR</option>
                                                    <option value="ALDAKIN">ALDAKIN</option>
                                                </select>
                                                <label id="lblTipo" for="start">Tipo Gasto:</label>
                                                <select id="Tipo" name="Tipo" disabled>
                                                    <option value="0"></option>
                                                </select>
                                                <label for="start">Observaciones:</label>
                                                <input type="text" id="strObservaciones" name="strObservaciones" value=" " />
                                                <span class="button" onclick="insertText('idGasto','strCantidad','Pagador','Tipo','strGastos','strObservaciones');" style="display: inline-block">Añadir Gasto</span>
                                                <label for="start">Lista de gastos:</label>
                                                <textarea name="strGastos" id="strGastos" value="@dept.Gastos" rows="6">@dept.Gastos</textarea>
                                                <hr class="major" />
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label for="start">Mensaje para informar al operaio del cambio:*</label>
                                            <textarea name="strMessage" id="strMessage" placeholder="Enter your message" rows="6" required></textarea>
                                        </div>

                                        <input type="hidden" name="strIdLinea" value="@dept.Idlinea" />
                                        <input type="hidden" name="strIdUser" value="@dept.Idusuario" />
                                        <input id="strPreslin" name="strPreslin" type="hidden" value="@dept.Idpreslin" />

                                        <div class="col-12">
                                            <ul class="actions">
                                                <li><input type="submit" name="Save" value="Modificar" /></li>
                                                <li><input type="submit" name="SaveAndValidate" value="Modificar y Validar" /></li>
                                                <li><input type="submit" name="Validate" value="Validar" /></li>
                                            </ul>
                                        </div>
                                        @*<div class="col-12">
            <label for="start">Pulse para modificar parte y no validarlo</label>
            <input type="hidden" name="strAction" value="Save" />
            <input type="submit" value="Modificar" />
        </div>
        <div class="col-12">
            <label for="start">Pulse para modificar parte y validarlo con los cambios</label>
            <input type="hidden" name="strAction" value="SaveAndValidate" />
            <input type="submit" value="Modificar y Validar" />
        </div>*@
                                    </div>
                                </form>
                                @*<form asp-controller="Search" asp-action="SearchValidate" method="POST">
                                        <label for="start">Pulse para validar el parte sin ningun cambio</label>
                                        <input type="hidden" id="idLinea" name="idLine" value="@dept.Idlinea" />
                                        <input type="hidden" id="dtIni" name="dtIni" value="@dept.Inicio.Date" />
                                        <input type="hidden" name="strAction" value="ValidateLine" />
                                        <input type="submit" value="Validar" />
                                    </form>*@
                            </div>
                        }
                    }

                }
            </section>

        </div>


    </div>

    <script type="text/javascript">

        const $select = document.querySelector("#miSelect");

        const $entidad = document.querySelector("#entidad");
        const $cliente = document.querySelector("#cliente");
        const $ot = document.querySelector("#ot");
        const $presupuesto = document.querySelector("#presupuesto");
        const $nivel1 = document.querySelector("#nivel1");
        const $nivel2 = document.querySelector("#nivel2");
        const $nivel3 = document.querySelector("#nivel3");
        const $nivel4 = document.querySelector("#nivel4");
        const $nivel5 = document.querySelector("#nivel5");
        const $nivel6 = document.querySelector("#nivel6");
        const $nivel7 = document.querySelector("#nivel7");
        const $tipo = document.querySelector("#Tipo");
        const $pagador = document.querySelector("#Pagador");
        const $calendario = document.querySelector("#Calendario");
        const $gastos = document.querySelector("#gastos");




        const EntidadSeleccionada = () => {
            const indice = $entidad.selectedIndex;
            if (indice === -1) return; // Esto es cuando no hay elementos
            const opcionSeleccionada = $entidad.options[indice];
            document.getElementById('lbPresupuesto').style.display = 'none';
            document.getElementById('lbNivel1').style.display = 'none';
            document.getElementById('lbNivel2').style.display = 'none';
            document.getElementById('lbNivel3').style.display = 'none';
            document.getElementById('lbNivel4').style.display = 'none';
            document.getElementById('lbNivel5').style.display = 'none';
            document.getElementById('lbNivel6').style.display = 'none';
            document.getElementById('lbNivel7').style.display = 'none';
            document.getElementById('presupuesto').style.display = 'none';
            document.getElementById('nivel1').style.display = 'none';
            document.getElementById('nivel2').style.display = 'none';
            document.getElementById('nivel3').style.display = 'none';
            document.getElementById('nivel4').style.display = 'none';
            document.getElementById('nivel5').style.display = 'none';
            document.getElementById('nivel6').style.display = 'none';
            document.getElementById('nivel7').style.display = 'none';

            for (let i = $cliente.options.length; i >= 0; i--) {
                $cliente.remove(i);
            }
            for (let i = $ot.options.length; i >= 0; i--) {
                $ot.remove(i);
            }
            for (let i = $presupuesto.options.length; i >= 0; i--) {
                $presupuesto.remove(i);
            }
            for (let i = $nivel1.options.length; i >= 0; i--) {
                $nivel1.remove(i);
            }
            for (let i = $nivel2.options.length; i >= 0; i--) {
                $nivel2.remove(i);
            }
            for (let i = $nivel3.options.length; i >= 0; i--) {
                $nivel3.remove(i);
            }
            for (let i = $nivel4.options.length; i >= 0; i--) {
                $nivel4.remove(i);
            }
            for (let i = $nivel5.options.length; i >= 0; i--) {
                $nivel5.remove(i);
            }
            for (let i = $nivel6.options.length; i >= 0; i--) {
                $nivel6.remove(i);
            }
            for (let i = $nivel7.options.length; i >= 0; i--) {
                $nivel7.remove(i);
            }

            var url = "@Url.Action("SelectedEntityOt","MainDataApi")";
            var cantidad = opcionSeleccionada.value;//$(opcionSeleccionada.value)

            var data = { cantidad: cantidad };
            $.post(url, data).done(function (data) {
                //si la operacion es buena
                    const option = document.createElement('option');
                    option.value = "0";
                    option.text = "";
                    $ot.appendChild(option);
                    for (let i = 0; i <= data.length - 1; i++) {
                        const option = document.createElement('option');
                        option.value = JSON.stringify(data[i].iValue);
                        option.text = JSON.stringify(data[i].strText).replace(/['"]+/g, '');
                        $ot.appendChild(option);
                    }
                }).fail(daError).always(function () {
                    //esto se ejecuta siempre
                });
            var url = "@Url.Action("SelectedEntityClient","MainDataApi")";
            var cantidad = opcionSeleccionada.value;//$(opcionSeleccionada.value)
            var data = { cantidad: cantidad };
            $.post(url, data).done(function (data) {
                //si la operacion es buena
                const option = document.createElement('option');
                option.value = "0";
                option.text = "";
                $cliente.appendChild(option);
                for (let i = 0; i <= data.length - 1; i++) {
                    const option = document.createElement('option');
                    option.value = JSON.stringify(data[i].iValue);
                    option.text = JSON.stringify(data[i].strText).replace(/['"]+/g, '');
                    $cliente.appendChild(option);
                }
            }).fail(daError).always(function () {
                //esto se ejecuta siempre
            });
        }

        const ClienteSeleccionado = () => {
            const indice = $cliente.selectedIndex;
            if (indice === -1) return; // Esto es cuando no hay elementos
            const opcionSeleccionada = $cliente.options[indice];
             document.getElementById('lbPresupuesto').style.display = 'none';
            document.getElementById('lbNivel1').style.display = 'none';
            document.getElementById('lbNivel2').style.display = 'none';
            document.getElementById('lbNivel3').style.display = 'none';
            document.getElementById('lbNivel4').style.display = 'none';
            document.getElementById('lbNivel5').style.display = 'none';
            document.getElementById('lbNivel6').style.display = 'none';
            document.getElementById('lbNivel7').style.display = 'none';
            document.getElementById('presupuesto').style.display = 'none';
            document.getElementById('nivel1').style.display = 'none';
            document.getElementById('nivel2').style.display = 'none';
            document.getElementById('nivel3').style.display = 'none';
            document.getElementById('nivel4').style.display = 'none';
            document.getElementById('nivel5').style.display = 'none';
            document.getElementById('nivel6').style.display = 'none';
            document.getElementById('nivel7').style.display = 'none';
                for (let i = $ot.options.length; i >= 0; i--) {
                    $ot.remove(i);
                }
                for (let i = $presupuesto.options.length; i >= 0; i--) {
                    $presupuesto.remove(i);
                }
                for (let i = $nivel1.options.length; i >= 0; i--) {
                    $nivel1.remove(i);
                }
                for (let i = $nivel2.options.length; i >= 0; i--) {
                    $nivel2.remove(i);
                }
                for (let i = $nivel3.options.length; i >= 0; i--) {
                    $nivel3.remove(i);
                }
                for (let i = $nivel4.options.length; i >= 0; i--) {
                    $nivel4.remove(i);
                }
                for (let i = $nivel5.options.length; i >= 0; i--) {
                    $nivel5.remove(i);
                }
                for (let i = $nivel6.options.length; i >= 0; i--) {
                    $nivel6.remove(i);
                }
                for (let i = $nivel7.options.length; i >= 0; i--) {
                    $nivel7.remove(i);
            }
            if (opcionSeleccionada.value == 0) {
                opcionSeleccionada.value = 0;
            }
            var url = "@Url.Action("ClientSelected","MainDataApi")";
            var cantidad = opcionSeleccionada.value;//$(opcionSeleccionada.value)
            var data = { cantidad: cantidad };
            $.post(url, data).done(function (data) {
                //si la operacion es buena
                const option = document.createElement('option');
                option.value = "0";
                option.text = "";
                $ot.appendChild(option);
                for (let i = 0; i <= data.length - 1; i++) {
                    const option = document.createElement('option');
                    option.value = JSON.stringify(data[i].iValue);
                    option.text = JSON.stringify(data[i].strText).replace(/['"]+/g, '');
                    $ot.appendChild(option);
                }

            }).fail(daError).always(function () {
                //esto se ejecuta siempre
            });
        }
        const OtSeleccionada = () => {
            const indice = $ot.selectedIndex;
            if (indice === -1) return; // Esto es cuando no hay elementos
            const opcionSeleccionada = $ot.options[indice];   //alert(`Texto: ${opcionSeleccionada.text}. Valor: ${opcionSeleccionada.value}`);  //    documnet.getElementById('information').style.display = 'none';
            document.getElementById('lbPresupuesto').style.display = 'none';
            document.getElementById('lbNivel1').style.display = 'none';
            document.getElementById('lbNivel2').style.display = 'none';
            document.getElementById('lbNivel3').style.display = 'none';
            document.getElementById('lbNivel4').style.display = 'none';
            document.getElementById('lbNivel5').style.display = 'none';
            document.getElementById('lbNivel6').style.display = 'none';
            document.getElementById('lbNivel7').style.display = 'none';
            document.getElementById('presupuesto').style.display = 'none';
            document.getElementById('nivel1').style.display = 'none';
            document.getElementById('nivel2').style.display = 'none';
            document.getElementById('nivel3').style.display = 'none';
            document.getElementById('nivel4').style.display = 'none';
            document.getElementById('nivel5').style.display = 'none';
            document.getElementById('nivel6').style.display = 'none';
            document.getElementById('nivel7').style.display = 'none';
                for (let i = $presupuesto.options.length; i >= 0; i--) {
                    $presupuesto.remove(i);
                }
                for (let i = $nivel1.options.length; i >= 0; i--) {
                    $nivel1.remove(i);
                }
                for (let i = $nivel2.options.length; i >= 0; i--) {
                    $nivel2.remove(i);
                }
                for (let i = $nivel3.options.length; i >= 0; i--) {
                    $nivel3.remove(i);
                }
                for (let i = $nivel4.options.length; i >= 0; i--) {
                    $nivel4.remove(i);
                }
                for (let i = $nivel5.options.length; i >= 0; i--) {
                    $nivel5.remove(i);
                }
                for (let i = $nivel6.options.length; i >= 0; i--) {
                    $nivel6.remove(i);
                }
                for (let i = $nivel7.options.length; i >= 0; i--) {
                    $nivel7.remove(i);
            }

            if (opcionSeleccionada.value == 0) {
                alert("Seleccione una opcion correcta o recargue la pagina y vuelva a empezar");
                return;
            }
            var url = "@Url.Action("OtSelected","MainDataApi")";
            var cantidad = opcionSeleccionada.value;//$(opcionSeleccionada.value)
            var data = { cantidad: cantidad };
            $.post(url, data).done(function (data) {
                //si la operacion es buena
                if (data == null) {
                    document.getElementById('lbPresupuesto').style.display = 'none';
                    document.getElementById('presupuesto').style.display = 'none';
                    //div = document.getElementById('information1');
                    //div.style.display = '';
                    //div = document.getElementById('information2');
                    //div.style.display = '';
                    //div = document.getElementById('information3');
                    //div.style.display = '';
                    //div = document.getElementById('information4');
                    //div.style.display = '';
                } else {
                    if (data.length > 1) {
                    document.getElementById('lbPresupuesto').style.display = 'block';
                    document.getElementById('presupuesto').style.display = 'block';
                    const option = document.createElement('option');
                    option.value = "0";
                    option.text = "";
                    $presupuesto.appendChild(option);
                for (let i = 0; i <= data.length - 1; i++) {
                        const option = document.createElement('option');
                        option.value = JSON.stringify(data[i].iValue);
                        option.text = JSON.stringify(data[i].strText).replace(/['"]+/g, '');
                        $presupuesto.appendChild(option);
                        }
                }else{
                    document.getElementById('lbPresupuesto').style.display = 'none';
                        document.getElementById('presupuesto').style.display = 'none';
                         const option = document.createElement('option');
                for (let i = 0; i <= data.length - 1; i++) {
                        const option = document.createElement('option');
                        option.value = JSON.stringify(data[i].iValue);
                        option.text = JSON.stringify(data[i].strText).replace(/['"]+/g, '');
                        $presupuesto.appendChild(option);
                    }
                    var url = "@Url.Action("GetLevel1","MainDataApi")";
                    var cantidadN1 = data[0].iValue;//$(opcionSeleccionada.value)
                    var dataN1 = { cantidad: cantidadN1 };
                    $.post(url, dataN1).done(function (dataN1) {
                        document.getElementById('lbNivel1').style.display = 'block';
                        document.getElementById('nivel1').style.display = 'block';
                        const option = document.createElement('option');
                        option.value = "0";
                        option.text = "";
                        $nivel1.appendChild(option);
                for (let i = 0; i <= dataN1.length - 1; i++) {
                        const option = document.createElement('option');
                        option.value = JSON.stringify(dataN1[i].iValue);
                        option.text = JSON.stringify(dataN1[i].strText).replace(/['"]+/g, '');
                        $nivel1.appendChild(option);
                    }
                    }).fail(daError).always(function () {
                        //esto se ejecuta siempre
                     });
                }
                }
            }).fail(daError).always(function () {
                //esto se ejecuta siempre
            });

        }
        const PresuSeleccionado = () => {
            const indice = $presupuesto.selectedIndex;
            if (indice === -1) return; // Esto es cuando no hay elementos
            const optionSelec =  $presupuesto.options[indice];
            document.getElementById('lbNivel1').style.display = 'none';
            document.getElementById('lbNivel2').style.display = 'none';
            document.getElementById('lbNivel3').style.display = 'none';
            document.getElementById('lbNivel4').style.display = 'none';
            document.getElementById('lbNivel5').style.display = 'none';
            document.getElementById('lbNivel6').style.display = 'none';
            document.getElementById('lbNivel7').style.display = 'none';
            document.getElementById('nivel1').style.display = 'none';
            document.getElementById('nivel2').style.display = 'none';
            document.getElementById('nivel3').style.display = 'none';
            document.getElementById('nivel4').style.display = 'none';
            document.getElementById('nivel5').style.display = 'none';
            document.getElementById('nivel6').style.display = 'none';
            document.getElementById('nivel7').style.display = 'none';
                for (let i = $nivel1.options.length; i >= 0; i--) {
                    $nivel1.remove(i);
                }
                for (let i = $nivel2.options.length; i >= 0; i--) {
                    $nivel2.remove(i);
                }
                for (let i = $nivel3.options.length; i >= 0; i--) {
                    $nivel3.remove(i);
                }
                for (let i = $nivel4.options.length; i >= 0; i--) {
                    $nivel4.remove(i);
                }
                for (let i = $nivel5.options.length; i >= 0; i--) {
                    $nivel5.remove(i);
                }
                for (let i = $nivel6.options.length; i >= 0; i--) {
                    $nivel6.remove(i);
                }
                for (let i = $nivel7.options.length; i >= 0; i--) {
                    $nivel7.remove(i);
                }

            if (optionSelec.value == 0) {
                alert("Seleccione una opcion correcta o recargue la pagina y vuelva a empezar");
                return;
            }
            var url = "@Url.Action("GetLevel1","MainDataApi")";
            var cantidadN1 = optionSelec.value;//$(opcionSeleccionada.value)
                    var dataN1 = { cantidad: cantidadN1 };
                    $.post(url, dataN1).done(function (dataN1) {
                        document.getElementById('lbNivel1').style.display = 'block';
                        document.getElementById('nivel1').style.display = 'block';
                        const option = document.createElement('option');
                        option.value = "0";
                        option.text = "";
                        $nivel1.appendChild(option);
                        for (let i = 0; i <= dataN1.length - 1; i++) {
                        const option = document.createElement('option');
                        option.value = JSON.stringify(dataN1[i].iValue);
                        option.text = JSON.stringify(dataN1[i].strText).replace(/['"]+/g, '');
                        $nivel1.appendChild(option);
                    }
                    }).fail(daError).always(function () {
                        //esto se ejecuta siempre
                     });

        }
        const Nivel1Seleccionado = () => {

            const indice = $nivel1.selectedIndex;
            if (indice === -1) return; // Esto es cuando no hay elementos
            const optionSelec =  $nivel1.options[indice];
            const optionSelec2 =document.getElementById("presupuesto");
            document.getElementById('lbNivel2').style.display = 'none';
            document.getElementById('lbNivel3').style.display = 'none';
            document.getElementById('lbNivel4').style.display = 'none';
            document.getElementById('lbNivel5').style.display = 'none';
            document.getElementById('lbNivel6').style.display = 'none';
            document.getElementById('lbNivel7').style.display = 'none';
            document.getElementById('nivel2').style.display = 'none';
            document.getElementById('nivel3').style.display = 'none';
            document.getElementById('nivel4').style.display = 'none';
            document.getElementById('nivel5').style.display = 'none';
            document.getElementById('nivel6').style.display = 'none';
            document.getElementById('nivel7').style.display = 'none';
            for (let i = $nivel2.options.length; i >= 0; i--) {
                $nivel2.remove(i);
            }
            for (let i = $nivel3.options.length; i >= 0; i--) {
                $nivel3.remove(i);
            }
            for (let i = $nivel4.options.length; i >= 0; i--) {
                $nivel4.remove(i);
            }
            for (let i = $nivel5.options.length; i >= 0; i--) {
                $nivel5.remove(i);
            }
            for (let i = $nivel6.options.length; i >= 0; i--) {
                $nivel6.remove(i);
            }
            for (let i = $nivel7.options.length; i >= 0; i--) {
                $nivel7.remove(i);
            }

            if (optionSelec.value == 0) {
                alert("Seleccione una opcion correcta o recargue la pagina y vuelva a empezar");
                return;
            }
            var url = "@Url.Action("GetLevel2","MainDataApi")";
            var cantidad = optionSelec.value;
            var cantidad2 = optionSelec2.value;
            var data = { cantidad: cantidad, cantidad2: cantidad2 };
            $.post(url, data).done(function (data) {
                //si la operacion es buena
                if (data.length > 1) {
                    document.getElementById('lbNivel2').style.display = 'block';
                    document.getElementById('nivel2').style.display = 'block';
                    const option = document.createElement('option');
                    option.value = "0";
                    option.text = "";
                    $nivel2.appendChild(option);
                    for (let i = 0; i <= data.length - 1; i++) {
                        const option = document.createElement('option');
                        option.value = JSON.stringify(data[i].iValue);
                        option.text = JSON.stringify(data[i].strText).replace(/['"]+/g, '');
                        $nivel2.appendChild(option);
                    }
                } else {
                    if (data.length == 1) {
                    document.getElementById('lbNivel2').style.display = 'block';
                    document.getElementById('nivel2').style.display = 'block';
                    const option = document.createElement('option');
                    $nivel2.appendChild(option);
                    for (let i = 0; i <= data.length - 1; i++) {
                        const option = document.createElement('option');
                        option.value = JSON.stringify(data[i].iValue);
                        option.text = JSON.stringify(data[i].strText).replace(/['"]+/g, '');
                        $nivel2.appendChild(option);
                        }
                    }
                    else {
                        //div = document.getElementById('information1');
                        //div.style.display = '';
                        //div = document.getElementById('information2');
                        //div.style.display = '';
                        //div = document.getElementById('information3');
                        //div.style.display = '';
                        //div = document.getElementById('information4');
                        //div.style.display = '';
                    }
                }
                document.getElementById("strPreslin").value = optionSelec.value;
            }).fail(daError).always(function () {
                //esto se ejecuta siempre
            });
        }
        const Nivel2Seleccionado = () => {

            const indice = $nivel2.selectedIndex;
            if (indice === -1) return; // Esto es cuando no hay elementos
            const optionSelec = $nivel2.options[indice];
            const optionSelec2 =document.getElementById("presupuesto");
            const optionSelec3 =document.getElementById("nivel1");
            document.getElementById('lbNivel3').style.display = 'none';
            document.getElementById('lbNivel4').style.display = 'none';
            document.getElementById('lbNivel5').style.display = 'none';
            document.getElementById('lbNivel6').style.display = 'none';
            document.getElementById('lbNivel7').style.display = 'none';
            document.getElementById('nivel3').style.display = 'none';
            document.getElementById('nivel4').style.display = 'none';
            document.getElementById('nivel5').style.display = 'none';
            document.getElementById('nivel6').style.display = 'none';
            document.getElementById('nivel7').style.display = 'none';
            for (let i = $nivel3.options.length; i >= 0; i--) {
                $nivel3.remove(i);
            }
            for (let i = $nivel4.options.length; i >= 0; i--) {
                $nivel4.remove(i);
            }
            for (let i = $nivel5.options.length; i >= 0; i--) {
                $nivel5.remove(i);
            }
            for (let i = $nivel6.options.length; i >= 0; i--) {
                $nivel6.remove(i);
            }
            for (let i = $nivel7.options.length; i >= 0; i--) {
                $nivel7.remove(i);
            }

            if (optionSelec.value == 0) {
                alert("Seleccione una opcion correcta o recargue la pagina y vuelva a empezar");
                return;
            }
            var url = "@Url.Action("GetLevel","MainDataApi")";//ObtenerNivel3
            var cantidad = optionSelec.value;
            var cantidad2 = optionSelec2.value;
            var cantidad3 = optionSelec3.value;
            var data = { cantidad: cantidad, cantidad2: cantidad2, cantidad3: cantidad3 };
            $.post(url, data).done(function (data) {
                //si la operacion es buena
                if (data.length > 1) {
                    document.getElementById('lbNivel3').style.display = 'block';
                    document.getElementById('nivel3').style.display = 'block';
                    const option = document.createElement('option');
                    option.value = "0";
                    option.text = "";
                    $nivel3.appendChild(option);
                    for (let i = 0; i <= data.length - 1; i++) {
                        const option = document.createElement('option');
                        option.value = JSON.stringify(data[i].iValue);
                        option.text = JSON.stringify(data[i].strText).replace(/['"]+/g, '');
                        $nivel3.appendChild(option);
                    }
                } else {
                    if (data.length == 1) {
                        document.getElementById('lbNivel3').style.display = 'block';
                        document.getElementById('nivel3').style.display = 'block';
                        const option = document.createElement('option');
                        option.value = "0";
                        option.text = "";
                        $nivel3.appendChild(option);
                        for (let i = 0; i <= data.length - 1; i++) {
                            const option = document.createElement('option');
                            option.value = JSON.stringify(data[i].iValue);
                            option.text = JSON.stringify(data[i].strText).replace(/['"]+/g, '');
                            $nivel3.appendChild(option);
                        }
                    }
                    else {
                        //div = document.getElementById('information1');
                        //div.style.display = '';
                        //div = document.getElementById('information2');
                        //div.style.display = '';
                        //div = document.getElementById('information3');
                        //div.style.display = '';
                        //div = document.getElementById('information4');
                        //div.style.display = '';
                    }
                }
                document.getElementById("strPreslin").value = optionSelec.value;
            }).fail(daError).always(function () {
                //esto se ejecuta siempre
            });
        }
        const Nivel3Seleccionado = () => {

            const indice = $nivel3.selectedIndex;
            if (indice === -1) return; // Esto es cuando no hay elementos
            const optionSelec = $nivel3.options[indice];
            document.getElementById('lbNivel4').style.display = 'none';
            document.getElementById('lbNivel5').style.display = 'none';
            document.getElementById('lbNivel6').style.display = 'none';
            document.getElementById('lbNivel7').style.display = 'none';
            document.getElementById('nivel4').style.display = 'none';
            document.getElementById('nivel5').style.display = 'none';
            document.getElementById('nivel6').style.display = 'none';
            document.getElementById('nivel7').style.display = 'none';
            for (let i = $nivel4.options.length; i >= 0; i--) {
                $nivel4.remove(i);
            }
            for (let i = $nivel5.options.length; i >= 0; i--) {
                $nivel5.remove(i);
            }
            for (let i = $nivel6.options.length; i >= 0; i--) {
                $nivel6.remove(i);
            }
            for (let i = $nivel7.options.length; i >= 0; i--) {
                $nivel7.remove(i);
            }

            if (optionSelec.value == 0) {
                alert("Seleccione una opcion correcta o recargue la pagina y vuelva a empezar");
                return;
            }
            var url = "@Url.Action("GetLevel","MainDataApi")";
            var cantidad = optionSelec.value;
            var data = { cantidad: cantidad};
            $.post(url, data).done(function (data) {
                //si la operacion es buena
                if (data.length > 1) {
                    document.getElementById('lbNivel4').style.display = 'block';
                    document.getElementById('nivel4').style.display = 'block';
                    const option = document.createElement('option');
                    option.value = "0";
                    option.text = "";
                    $nivel4.appendChild(option);
                    for (let i = 0; i <= data.length - 1; i++) {
                        const option = document.createElement('option');
                        option.value = JSON.stringify(data[i].iValue);
                        option.text = JSON.stringify(data[i].strText).replace(/['"]+/g, '');
                        $nivel4.appendChild(option);
                    }
                } else {
                    if (data.length == 1) {
                    document.getElementById('lbNivel4').style.display = 'block';
                    document.getElementById('nivel4').style.display = 'block';
                    const option = document.createElement('option');
                    for (let i = 0; i <= data.length - 1; i++) {
                        const option = document.createElement('option');
                        option.value = JSON.stringify(data[i].iValue);
                        option.text = JSON.stringify(data[i].strText).replace(/['"]+/g, '');
                        $nivel4.appendChild(option);
                        }
                    }
                    else {
                        //div = document.getElementById('information1');
                        //div.style.display = '';
                        //div = document.getElementById('information2');
                        //div.style.display = '';
                        //div = document.getElementById('information3');
                        //div.style.display = '';
                        //div = document.getElementById('information4');
                        //div.style.display = '';
                    }
                }
                document.getElementById("strPreslin").value = optionSelec.value;
            }).fail(daError).always(function () {
                //esto se ejecuta siempre
            });
        }
        const Nivel4Seleccionado = () => {

            const indice = $nivel4.selectedIndex;
            if (indice === -1) return; // Esto es cuando no hay elementos
            const optionSelec = $nivel4.options[indice];
            document.getElementById('lbNivel5').style.display = 'none';
            document.getElementById('lbNivel6').style.display = 'none';
            document.getElementById('lbNivel7').style.display = 'none';
            document.getElementById('nivel5').style.display = 'none';
            document.getElementById('nivel6').style.display = 'none';
            document.getElementById('nivel7').style.display = 'none';
            for (let i = $nivel5.options.length; i >= 0; i--) {
                $nivel5.remove(i);
            }
            for (let i = $nivel6.options.length; i >= 0; i--) {
                $nivel6.remove(i);
            }
            for (let i = $nivel7.options.length; i >= 0; i--) {
                $nivel7.remove(i);
            }

            if (optionSelec.value == 0) {
                alert("Seleccione una opcion correcta o recargue la pagina y vuelva a empezar");
                return;
            }
            var url = "@Url.Action("GetLevel","MainDataApi")";
            var cantidad = optionSelec.value;
            var data = { cantidad: cantidad};
            $.post(url, data).done(function (data) {
                //si la operacion es buena
                if (data.length > 1) {
                    document.getElementById('lbNivel5').style.display = 'block';
                    document.getElementById('nivel5').style.display = 'block';
                    const option = document.createElement('option');
                    option.value = "0";
                    option.text = "";
                    $nivel5.appendChild(option);
                    for (let i = 0; i <= data.length - 1; i++) {
                        const option = document.createElement('option');
                        option.value = JSON.stringify(data[i].iValue);
                        option.text = JSON.stringify(data[i].strText).replace(/['"]+/g, '');
                        $nivel5.appendChild(option);
                    }
                } else {
                    if (data.length == 1) {
                        document.getElementById('lbNivel5').style.display = 'block';
                        document.getElementById('nivel5').style.display = 'block';
                        const option = document.createElement('option');
                        option.value = "0";
                        option.text = "";
                        $nivel5.appendChild(option);
                        for (let i = 0; i <= data.length - 1; i++) {
                            const option = document.createElement('option');
                            option.value = JSON.stringify(data[i].iValue);
                            option.text = JSON.stringify(data[i].strText).replace(/['"]+/g, '');
                            $nivel5.appendChild(option);
                            }
                        }
                    else {
                        //div = document.getElementById('information1');
                        //div.style.display = '';
                        //div = document.getElementById('information2');
                        //div.style.display = '';
                        //div = document.getElementById('information3');
                        //div.style.display = '';
                        //div = document.getElementById('information4');
                        //div.style.display = '';
                    }
                }
                document.getElementById("strPreslin").value = optionSelec.value;
            }).fail(daError).always(function () {
                //esto se ejecuta siempre
            });
        }
        const Nivel5Seleccionado = () => {

            const indice = $nivel5.selectedIndex;
            if (indice === -1) return; // Esto es cuando no hay elementos
            const optionSelec = $nivel5.options[indice];
            document.getElementById('lbNivel6').style.display = 'none';
            document.getElementById('lbNivel7').style.display = 'none';
            document.getElementById('nivel6').style.display = 'none';
            document.getElementById('nivel7').style.display = 'none';
            for (let i = $nivel6.options.length; i >= 0; i--) {
                $nivel6.remove(i);
            }
            for (let i = $nivel7.options.length; i >= 0; i--) {
                $nivel7.remove(i);
            }

            if (optionSelec.value == 0) {
                alert("Seleccione una opcion correcta o recargue la pagina y vuelva a empezar");
                return;
            }
            var url = "@Url.Action("GetLevel","MainDataApi")";
            var cantidad = optionSelec.value;
            var data = { cantidad: cantidad};
            $.post(url, data).done(function (data) {
                //si la operacion es buena
                if (data.length > 1) {
                    document.getElementById('lbNivel6').style.display = 'block';
                    document.getElementById('nivel6').style.display = 'block';
                    const option = document.createElement('option');
                    option.value = "0";
                    option.text = "";
                    $nivel6.appendChild(option);
                    for (let i = 0; i <= data.length - 1; i++) {
                        const option = document.createElement('option');
                        option.value = JSON.stringify(data[i].iValue);
                        option.text = JSON.stringify(data[i].strText).replace(/['"]+/g, '');
                        $nivel6.appendChild(option);
                    }
                } else {
                    if (data.length == 1) {
                    document.getElementById('lbNivel6').style.display = 'block';
                    document.getElementById('nivel6').style.display = 'block';
                    const option = document.createElement('option');
                    option.value = "0";
                    option.text = "";
                    $nivel6.appendChild(option);
                    for (let i = 0; i <= data.length - 1; i++) {
                        const option = document.createElement('option');
                        option.value = JSON.stringify(data[i].iValue);
                        option.text = JSON.stringify(data[i].strText).replace(/['"]+/g, '');
                        $nivel6.appendChild(option);
                        }
                    }
                    else {
                        //div = document.getElementById('information1');
                        //div.style.display = '';
                        //div = document.getElementById('information2');
                        //div.style.display = '';
                        //div = document.getElementById('information3');
                        //div.style.display = '';
                        //div = document.getElementById('information4');
                        //div.style.display = '';
                    }
                }
                document.getElementById("strPreslin").value = optionSelec.value;
            }).fail(daError).always(function () {
                //esto se ejecuta siempre
            });
        }
        const Nivel6Seleccionado = () => {

            const indice = $nivel6.selectedIndex;
            if (indice === -1) return; // Esto es cuando no hay elementos
            const optionSelec = $nivel6.options[indice];
            document.getElementById('lbNivel7').style.display = 'none';
            document.getElementById('nivel7').style.display = 'none';
            for (let i = $nivel7.options.length; i >= 0; i--) {
                $nivel7.remove(i);
            }

            if (optionSelec.value == 0) {
                alert("Seleccione una opcion correcta o recargue la pagina y vuelva a empezar");
                return;
            }
            var url = "@Url.Action("GetLevel","MainDataApi")";
            var cantidad = optionSelec.value;
            var data = { cantidad: cantidad};
            $.post(url, data).done(function (data) {
                //si la operacion es buena
                if (data.length > 1) {
                    document.getElementById('lbNivel7').style.display = 'block';
                    document.getElementById('nivel7').style.display = 'block';
                    const option = document.createElement('option');
                    option.value = "0";
                    option.text = "";
                    $nivel7.appendChild(option);
                    for (let i = 0; i <= data.length - 1; i++) {
                        const option = document.createElement('option');
                        option.value = JSON.stringify(data[i].iValue);
                        option.text = JSON.stringify(data[i].strText).replace(/['"]+/g, '');
                        $nivel7.appendChild(option);
                    }
                } else {
                    if (data.length == 1) {
                    document.getElementById('lbNivel7').style.display = 'block';
                    document.getElementById('nivel7').style.display = 'block';
                    const option = document.createElement('option');
                    option.value = "0";
                    option.text = "";
                    $nivel7.appendChild(option);
                    for (let i = 0; i <= data.length - 1; i++) {
                        const option = document.createElement('option');
                        option.value = JSON.stringify(data[i].iValue);
                        option.text = JSON.stringify(data[i].strText).replace(/['"]+/g, '');
                        $nivel7.appendChild(option);
                        }
                    }
                    else {
                        //div = document.getElementById('information1');
                        //div.style.display = '';
                        //div = document.getElementById('information2');
                        //div.style.display = '';
                        //div = document.getElementById('information3');
                        //div.style.display = '';
                        //div = document.getElementById('information4');
                        //div.style.display = '';
                    }
                }
                document.getElementById("strPreslin").value = optionSelec.value;
            }).fail(daError).always(function () {
                //esto se ejecuta siempre
            });
        }
        const Nivel7Seleccionado = () => {
            const indice = $nivel7.selectedIndex;
            if (indice === -1) return; // Esto es cuando no hay elementos
            const optionSelec = $nivel7.options[indice];

            document.getElementById("strPreslin").value = optionSelec.value;
        }
        const PagadorSeleccionado = () => {
            const indice = $pagador.selectedIndex;
            if (indice === -1) return; // Esto es cuando no hay elementos
            const optionSelec = $pagador.options[indice];
            const opcionSeleccionada =document.getElementById("ot");
            for (let i = $tipo.options.length; i >= 0; i--) {
                $tipo.remove(i);
            }
            var url = "@Url.Action("SelectPayer","MainDataApi")";
            var cantidad = 0;
            if (optionSelec.value == 'ALDAKIN') {
                cantidad = 1;
            } else {
                if (optionSelec.value == 'TRABAJADOR') {
                    cantidad = 0;
                }
                else {
                    return;
                }
            }
            var cantidad2 = opcionSeleccionada.value;
            var data = { cantidad: cantidad, cantidad2: cantidad2};
            $.post(url, data).done(function (data) {
                //si la operacion es buena
                if (data.length > 0) {
                    document.getElementById("Tipo").disabled=false;
                    const option = document.createElement('option');
                    option.value = "0";
                    option.text = "";
                    $tipo.appendChild(option);
                    for (let i = 0; i <= data.length - 1; i++) {
                        const option = document.createElement('option');
                        option.value = JSON.stringify(data[i].strValue).replace(/['"]+/g, '');
                        option.text = JSON.stringify(data[i].strText);
                        $tipo.appendChild(option);
                    }
                } else {
                    document.getElementById("Tipo").disabled=true;
                }
            }).fail(daError).always(function () {
                //esto se ejecuta siempre
            });
        }
        const CalendarioSeleccionado = () => {
            //var myDate = window.document.getElementById("Calendario").value;
            //alert('date1 ' + myDate);
            var url = "@Url.Action("WeekSummary","MainDataApi")";
            var cantidad = window.document.getElementById("Calendario").value;
            var data = { cantidad: cantidad};
            $.post(url, data).done(function (data) {
                //si la operacion es buena
                if (data != null) {
                    if (data.length > 0) {

                        var inputNombre = document.getElementById("strLunes");
                        inputNombre.value = JSON.stringify(data[0].strText).replace(/['"]+/g, '');
                        var inputNombre = document.getElementById("strMartes");
                        inputNombre.value = JSON.stringify(data[1].strText).replace(/['"]+/g, '');
                        var inputNombre = document.getElementById("strMiercoles");
                        inputNombre.value = JSON.stringify(data[2].strText).replace(/['"]+/g, '');
                        var inputNombre = document.getElementById("strJueves");
                        inputNombre.value = JSON.stringify(data[3].strText).replace(/['"]+/g, '');
                        var inputNombre = document.getElementById("strViernes");
                        inputNombre.value = JSON.stringify(data[4].strText).replace(/['"]+/g, '');
                        var inputNombre = document.getElementById("strSabado");
                        inputNombre.value = JSON.stringify(data[5].strText).replace(/['"]+/g, '');
                        var inputNombre = document.getElementById("strDomingo");
                        inputNombre.value = JSON.stringify(data[6].strText).replace(/['"]+/g, '');
                        div = document.getElementById('tablaResumen');
                        div.style.display = '';
                    } else {
                        div = document.getElementById('tablaResumen');
                        div.style.display = 'none';
                    }
                }
                else {
                    div = document.getElementById('tablaResumen');
                    div.style.display = 'none';
                }
            }).fail(daError).always(function () {
                //esto se ejecuta siempre
            });
        }

        const GastoSeleccionado = () => {
            if (document.getElementById('gastos').checked)
            {
                document.getElementById("strHoraInicio").value = "00";
                document.getElementById("strMinutoInicio").value = "00";
                document.getElementById("strHoraFin").value = "00";
                document.getElementById("strMinutoFin").value = "00";
                //alert('Marcar un parte como solo gastos implica 0 horas');
            }
        }
        function daError(ex) {
            console.log("Error");
            alert("Ocurrio un error,recargue la pagina y vuelva a empezar." +ex);
        }


        $entidad.addEventListener("change", EntidadSeleccionada);
        $cliente.addEventListener("change", ClienteSeleccionado);
        $ot.addEventListener("change", OtSeleccionada);
        $presupuesto.addEventListener("change", PresuSeleccionado);
        $nivel1.addEventListener("change", Nivel1Seleccionado);
        $nivel2.addEventListener("change", Nivel2Seleccionado);
        $nivel3.addEventListener("change", Nivel3Seleccionado);
        $nivel4.addEventListener("change", Nivel4Seleccionado);
        $nivel5.addEventListener("change", Nivel5Seleccionado);
        $nivel6.addEventListener("change", Nivel6Seleccionado);
        $nivel7.addEventListener("change", Nivel7Seleccionado);
        $pagador.addEventListener("change", PagadorSeleccionado);
        $calendario.addEventListener("change", CalendarioSeleccionado);
        $gastos.addEventListener("change", GastoSeleccionado);

        function insertText(idGasto, strCantidad, strPagador, strTipo, strGastos, strObservaciones) {
            var elem = document.getElementById(strGastos);
            var id = document.getElementById(idGasto);
            var Pagador = document.getElementById(strPagador);
            var Tipo = document.getElementById(strTipo);
            var Cantidad = document.getElementById(strCantidad);
            var Observaciones = document.getElementById(strObservaciones);

            //if ((Tipo.value == "VARIOS") && (Observaciones.length ==0))
            //{
            //    alert("Varios siempre va con observacion");
            //    return;
            //}

            if ((Tipo.value == 0)||(Cantidad.value==0)) {
                alert("Dastos de gasto incorrectos");
            }
            else {
                elem.value = elem.value + id.value + '|' + Pagador.value + '|' + Tipo.value + '|' + Cantidad.value + '|' + Observaciones.value + '\r\n';
                id.value = parseInt(id.value, 10) + 1;
            }
        }

        function viewLblGastos() {
            div = document.getElementById('lblGastos');
            if (div.style.display == 'none') {
                div.style.display = '';
            }
            else {
                div.style.display = 'none';
            }
        }
        //mostrar div
        //div = document.getElementById('information3');
        //div.style.display = '';
        //para ocultar div
        //div = document.getElementById('flotante');
        //div.style.display = 'none';



        //const opcionCambiada = () => {
        //    console.log("Cambio");
        //    const indice = $select.selectedIndex;
        //    if (indice === -1) return; // Esto es cuando no hay elementos
        //    const opcionSeleccionada = $select.options[indice];
        //    alert(`Texto: ${opcionSeleccionada.text}. Valor: ${opcionSeleccionada.value}`);
        //};

        //$select.addEventListener("change", opcionCambiada);

        //const agregar = () => {
        //    const option = document.createElement('option');
        //    const valor = new Date().getTime();
        //    option.value = valor;
        //    option.text = valor;
        //    $select.appendChild(option);
        //};

        //const limpiar = () => {
        //    for (let i = $select.options.length; i >= 0; i--) {
        //        $select.remove(i);
        //    }
        //};

        //const mostrar = () => {
        //    const indice = $select.selectedIndex;
        //    if (indice === -1) return; // Esto es cuando no hay elementos
        //    const opcionSeleccionada = $select.options[indice];
        //    alert(`Texto: ${opcionSeleccionada.text}. Valor: ${opcionSeleccionada.value}`);
        //};

        //document.addEventListener("DOMContentLoaded", () => {
        //    document.querySelector("#btnAgregar").addEventListener("click", agregar);
        //    document.querySelector("#btnLimpiar").addEventListener("click", limpiar);
        //    document.querySelector("#btnMostrar").addEventListener("click", mostrar);
        //});

    </script>
</body>
