@model AppPartes.Logic.SearchViewLogic
@{
    ViewData["Title"] = "Index";
}
<body class="is-preload">

    <!-- Content -->
    <section>
        @{
            if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="alert alert-warning">@ViewBag.Message</div>
            }
        }
        <header class="main">
            <h1>Administracion - Control de partes EN CONSTRUCCION</h1>
        </header>
        <!-- Content -->
        <!--<h2 id="content">Sample Content</h2>-->
        <div class="col-12" id="lblInfo" name="lblInfo" style="display:none">
            <blockquote>Cargando información, espere...</blockquote>
        </div>

    </section>


    <!-- Content -->
    <section>
        <h2 id="elements">Estado Partes del mes</h2>
        <p>Seleccione una delgación y una fecha para ver el estado de los partes de trabajo de cada dia de cada trabajador del mes seleccionado.</p>
        <p>Cuantos mas trabajadores se pueden validar más largo es el tiempo de obtención de datos.</p>
        <form asp-controller="Search" asp-action="Index" method="POST">
            <div class="col-12">
                <label for="start">Seleccione delegación:</label>

                <select id="strEntity" name="strEntity" required>
                    <option value="">
                    </option>
                    @foreach (var dept in Model.listCompany)
                    {
                        <option value="@dept.CodEnt">
                            @dept.Nombre
                        </option>
                    }
                </select>
            </div>
            <div class="col-12">
                <label>Seleccione en el calendario:</label>
                <input type="date" id="strDate" name="strDate"
                       value=" "
                       min="@(DateTime.Now.Year - 2)-01-01"
                       max="@(DateTime.Now.Year + 2)-12-31" required>
            </div>
            <div class="col-12">
                <input type="hidden" name="action" value="MounthResume" />
                <input type="submit" name="strStatus" value="Estado Partes" class="primary" />

                @*<input type="submit" name="strSemana" value="Estado Semana " class="primary" />*@


                @*<input type="submit" name="strAction" onclick="statusEntity('strDate','strSummary');" value="Enviar" />*@
            </div>
        </form>
        <hr class="major" />
    </section>
    <section>
        <h2 id="elements">Estado Partes del trabajador</h2>
        <p>Info.....</p>
        <form asp-controller="Search" asp-action="Index" method="POST">
            <div class="col-12">

                <label>Seleccione en el calendario:</label>
                <input type="date" id="strDate" name="strDate1"
                       value=" "
                       min="@(DateTime.Now.Year - 2)-01-01"
                       max="@(DateTime.Now.Year + 2)-12-31" required>
            </div>
            <div class="col-12">
                <label for="start">Seleccione delegación:</label>

                <select id="EntityWorker" name="strEntity">
                    <option value="">
                    </option>
                    @foreach (var dept in Model.listCompany)
                    {
                        <option value="@dept.CodEnt">
                            @dept.Nombre
                        </option>
                    }
                </select>
            </div>
            <div class="col-12">
                <label id="lblWorker" for="start">* Trabajadores:</label>
                <select id="worker" name="strWorker">

                    <option value="0"></option>
                </select>
            </div>
            <div class="col-12">
                <label id="lblOt" for="start">* Ot:</label>
                <select id="ot" name="strOt">

                    <option value="0"></option>
                </select>
            </div>
            <div class="col-12">
                <input type="hidden" name="action" value="StatusResume" />
                <input type="submit" name="strStatus" value="Resumen Estado Partes " class="primary" />


                @*<input type="submit" name="strSemana" value="Estado Semana " class="primary" />*@


                @*<input type="submit" name="strAction" onclick="statusEntity('strDate','strSummary');" value="Enviar" />*@
            </div>
        </form>


    </section>

    <section>

        @{ if (Model.listWeekResume != null)
            {
                if (Model.strGlobalValidation != null)
                {
                    <form asp-controller="Search" asp-action="Index" method="POST">
                        <div class="col-12">
                            <input type="hidden" id="strListValidation" name="strListValidation" value="@Model.strGlobalValidation" />
                            <div class="col-12">
                                <input type="hidden" name="action" value="globalValidation" />
                                <input type="submit" name="strStatus" value="validation masiva" class="primary" />

                                @*<input type="submit" name="strSemana" value="Estado Semana " class="primary" />*@


                                @*<input type="submit" name="strAction" onclick="statusEntity('strDate','strSummary');" value="Enviar" />*@
                            </div>
                        </div>
                    </form>
                }

                @foreach (var dept in Model.listWeekResume)
                {
                    if (dept.Count > 0)
                    {
                        <div class="col-12">
                            <div class="table-wrapper">
                                <table>
                                    <thead>
                                        <tr>
                                            @*@if (!Model.SemanaCerrada)
                                                {
                                                    <th></th>
                                                }*@
                                            <th>Trabajador</th>
                                            <th>Inicio</th>
                                            <th>Fin</th>
                                            <th>Empresa</th>
                                            <th>OT</th>
                                            <!--<th>Nombre OT</th>-->
                                            <th>Presupuesto</th>
                                            <!--<th>Nombre Presupuesto</th>-->
                                            <!--<th>Nivel1</th>
                                            <th>Nivel2</th>
                                            <th>Nivel3</th>
                                            <th>Nivel4</th>
                                            <th>Nivel5</th>
                                            <th>Nivel6</th>
                                            <th>Nivel7</th>-->
                                            <th>Horas de Viaje</th>
                                            <th>Horas</th>
                                            <th>Gastos</th>
                                            <th>Kilometros</th>
                                            <th>Pernoctación</th>
                                            <th>Observaciones</th>
                                            <th>Identificador</th>
                                            <th>Nº Parte</th>
                                            <th>Bloqueado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var part in dept)
                                        {
                                            <tr>
                                                <td>
                                                    @{
                                                        switch (part.iStatus)
                                                        {
                                                            case 0:
                                                                <p>Parte no cerrado</p>
                                                                break;  // Always break each case
                                                            case 1:
                                                                <p>Parte Volcado</p>
                                                                break;
                                                            case 2:
                                                                <form asp-controller="SearchEdit" asp-action="Index" method="POST">
                                                                    <input type="hidden" name="strLineId" value="@part.Idlinea" />
                                                                    <input type="hidden" name="strAction" value="editLine" />
                                                                    <input type="submit" value="Editar" />
                                                                </form>
                                                                <form asp-controller="SearchEdit" asp-action="Index" method="POST">
                                                                    <input type="hidden" id="idLinea" name="idLinea" value="@part.Idlinea" />
                                                                    <input type="hidden" id="dtIni" name="dtIni" value="@part.Inicio.Date" />
                                                                    <input type="hidden" name="strAction" value="validateLine" />
                                                                    <input type="submit" value="Validar" />
                                                                </form>
                                                                break;

                                                            default:
                                                                <p>Situacion descontrolada</p>
                                                                break;
                                                        }
                                                    }
                                                </td>
                                                <td>@part.NombreUsuario</td>
                                                <td>@part.Inicio</td>
                                                <td>@part.Fin</td>
                                                <td>@part.NombreCliente</td>
                                                <td>@part.NombreOt</td>
                                                <!--<td>Nombre OT</td>-->
                                                <td>@part.NombrePreslin</td>
                                                <!--<td>Nombre Presupuesto</td>-->
                                                <!--<td>Nivel1</td>
                                                <td>Nivel2</td>
                                                <td>Nivel3</td>
                                                <td>Nivel4</td>
                                                <td>Nivel5</td>
                                                <td>Nivel6</td>
                                                <td>Nivel7</td>-->
                                                <td>@part.Horasviaje</td>
                                                <td>@part.Horas</td>
                                                <td>@part.Dietas</td>
                                                <td>@part.Km</td>
                                                <td>@part.strPernocta</td>
                                                <td>@part.Observaciones</td>
                                                <td>@part.Idlinea</td>
                                                <td>@part.Npartefirmado</td>
                                                <td>@part.Validado</td>
                                            </tr>
                                        }
                                    </tbody>
                                    @*<tfoot>
                                            <tr>
                                                <td></td>
                                            </tr>
                                        </tfoot>*@
                                </table>
                            </div>
                        </div>
                    }
                }
            }

        }

    </section>






    <section>

        <hr class="major" />
        @if (Model.listResume != null)
        {
            <table class="alt">
                <tbody>
                    <tr>
                        <td style="background-color:#D2691E">Dia generado</td>
                        <td style="background-color:#B0C4DE">Dia validado</td>
                        <td style="background-color:#FFFFFF">Dia sin cerrar</td>
                        <td style="background-color:#D3D3D3">Fin de semana</td>
                        <td style="background-color:#FF8C00">Validado incompleto</td>
                    </tr>
                </tbody>
            </table>


            @foreach (var dept in Model.listResume)
            {
                <div class="table-wrapper">
                    <h4>@dept.User</h4>
                    <table class="alt">
                        @*<thead>
                                <tr>
                                    <td>@dept.User</td>
                                </tr>
                            </thead>*@
                        <tbody>
                            @*<tr>
                                    <td>Dias</td>
                                </tr>*@
                            <tr>
                                <td>Dias:</td>
                                @foreach (var t in dept.lDay)
                                {
                                    <td>@t</td>
                                }
                            </tr>
                            <tr>
                                <td>Horas:</td>
                                @foreach (var t in dept.dayStatus)
                                {
                                    <td style="background-color: @t.colour;">@t.hour</td>
                                }
                            </tr>

                        </tbody>
                    </table>
                </div><!-- Elements -->
            }
        }

    </section>




    <script type="text/javascript">

            const $worker = document.querySelector("#worker");
            const $ot = document.querySelector("#ot");
            const $EntityWorker = document.querySelector("#EntityWorker");

            const EntitySelected = () => {
                //alert('1');
                const indice = $EntityWorker.selectedIndex;
                if (indice === -1) return; // Esto es cuando no hay elementos
                const optionSelec = $EntityWorker.options[indice];
                var url = "@Url.Action("GetWorker","SearchDataApi")";
                var cantidad = optionSelec.value;
                var data = { cantidad: cantidad };
                $.post(url, data).done(function (data)
                {
                    if (data.length > 1)
                    {
                        const option = document.createElement('option');
                        $worker.appendChild(option);
                        for (let i = 0; i <= data.length - 1; i++)
                        {
                            const option = document.createElement('option');
                            option.value = JSON.stringify(data[i].iValue);
                            option.text = JSON.stringify(data[i].strText).replace(/['"]+/g, '');
                            $worker.appendChild(option);
                        }
                    } else {
                        if (data.length == 1)
                        {
                            const option = document.createElement('option');
                            for (let i = 0; i <= data.length - 1; i++)
                            {
                                const option = document.createElement('option');
                                option.value = JSON.stringify(data[i].iValue);
                                option.text = JSON.stringify(data[i].strText).replace(/['"]+/g, '');
                                $worker.appendChild(option);
                            }
                        }
                        else
                        {
                        }
                    }
                }).fail(daError).always(function ()
                {
                //esto se ejecuta siempre
                });

                url = "@Url.Action("GetOt","SearchDataApi")";
                cantidad = optionSelec.value;
                data = { cantidad: cantidad };
                $.post(url, data).done(function (data)
                {
                    //si la operacion es buena
                    if (data.length > 1)
                    {
                        const option = document.createElement('option');
                        $ot.appendChild(option);
                        for (let i = 0; i <= data.length - 1; i++) {
                            const option = document.createElement('option');
                            option.value = JSON.stringify(data[i].iValue);
                            option.text = JSON.stringify(data[i].strText).replace(/['"]+/g, '');
                            $ot.appendChild(option);
                        }
                    }
                    else
                    {
                        if (data.length == 1)
                        {
                            const option = document.createElement('option');
                            for (let i = 0; i <= data.length - 1; i++)
                            {
                                const option = document.createElement('option');
                                option.value = JSON.stringify(data[i].iValue);
                                option.text = JSON.stringify(data[i].strText).replace(/['"]+/g, '');
                                $ot.appendChild(option);
                            }
                        }
                        else
                        {
                        }
                    }
                }).fail(daError).always(function () {
                //esto se ejecuta siempre
                });
            }
        function daError(ex) {
            console.log("Error");
            alert("Ocurrio un error,recargue la pagina y vuelva a empezar." +ex);
            }

        function viewLblPart(idlinea) {
            div = document.getElementById('lblPart_'+idlinea);
            if (div.style.display == 'none') {
                div.style.display = '';
            }
            else {
                div.style.display = 'none';
            }
        }

            function validationLineConfir(idlinea) {
            var opcion = confirm("¿Seguro que desea Validar?");
            var linea = idlinea;
            if (opcion == true) {
                var url = "@Url.Action("validateLineFunc","SearchDataApi")";
                var data = { cantidad: linea};
                $.post(url, data).done(function (data) {
                    if (data.length>1) {
                        window.location.href = "Search?strMessage=Parte validado correctamente;";
                        }
                    else {
                        window.location.href = "Search?strMessage=Error durante el proceso de borrado;";
                    }
                    //window.location.href = "WeekReview?strMessage=Parte borrado correctamente;";
                })
            } else {
                alert('Borrado cancelado');
            }
        }

        $EntityWorker.addEventListener("change", EntitySelected);
        $entidad.addEventListener("change", EntidadSeleccionada);
    </script>
</body>

